@font-face {
  font-family: "klavika";
  src: url("./assets/font/klavika-regular-webfont.woff");
}

* {
  padding: 0px;
  margin: 0px;
  outline: 0px;
  font-family: "klavika";
  color: #ffffff;
}

.main {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slider {
  height: 100%;
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  transition: 0.5s ease-in-out background-position;
}

.content {
  display: flex;
  height: 100%;
  padding: 10px 30px;
  opacity: 1;
  transition: 0.25s ease-in-out opacity;
}

.quote span {
  font-size: 25px;
  border-bottom: 1px solid #ffffff;
}

.story {
  font-size: 10px;
  position: absolute;
  left: 20px;
  bottom: 70px;
}

.joinus {
  height: 100%;
  width: 80%;
  position: absolute;
  top: 0%;
  right: -80%;
  background-color: #161616;
  transition: 1s ease-in-out right;
}

.joinus-heading {
  position: relative;
  right: 0px;
  text-align: right;
  font-size: 25px;
  margin: 20px;
}

.joinus-heading span {
  border-bottom: 1px solid #ffffff;
}

.contact-info {
  font-size: 10px;
  position: relative;
  top: 30%;
  right: 0%;
  text-align: end;
  margin: 20px;
}

.social-links {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.social-links div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow {
  position: absolute;
  z-index: 10;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.prev {
  display: none;
  border-bottom: 3px solid;
  border-left: 3px solid;
  transform: rotate(45deg);
  top: 40%;
  left: 20px;
}

.next {
  border-bottom: 3px solid;
  border-right: 3px solid;
  transform: rotate(-45deg);
  right: 20px;
  top: 40%;
}

.number-navigation {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-collapse: collapse;
}

.nav-item {
  font-size: 10px;
  border: 1px dotted #ffffff;
  padding: 1px 6px;
  cursor: pointer;
}

.active {
  background-color: #ffffff;
  color: #000000;
  margin: 1px 6px;
  padding: 1px 6px;
}

.nav-text {
  display: none;
}

.logo {
  position: fixed;
  right: 20px;
  bottom: 0px;
}

.logo img {
  width: 70px;
}

@media (min-width: 800px) {
  .content {
    padding: 10px 60px;
  }

  .quote span {
    font-size: 40px;
  }

  .joinus-heading {
    font-size: 40px;
  }

  .contact-info {
    font-size: 15px;
  }

  .nav-text {
    display: block;
    padding-left: 5px;
    font-size: 10px;
  }

  .arrow {
    width: 40px;
    height: 40px;
    border-color: #e6d6d6;
    transition: 0.2s ease-in border-color;
  }

  .arrow:hover {
    width: 45px;
    height: 45px;
    border-color: #ffffff;
  }
}
